@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

:root {
    --v-red: #ED1846;
    --v-gold: #D6B76F;
    --onest-sans-serif: 'Onest';
    --custom-gray: #f2f2f2;
}

.arizonia {
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-style: normal;
}

.gold {
    color: var(--v-gold);
}


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

/* REGLES LAYOUTS */

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    line-height: 1.6;
    max-width: 100%;
    background: #FeFeFe;
    font-size: 1.6rem;
    font-family: var(--onest-sans-serif), sans-serif;
}

header {
    width: 100%;
    max-width: 100%;
    padding: 1rem 0;
    background: #F9F9F9;
    position: sticky;
    top: 0;
}

/*main {*/
/*    padding-bottom: 3rem;*/
/*}*/

footer {
    padding: 1rem 0;
    background: #F9f9f9;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.container.last {
    width: 100%;
    height: 100%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ##################################### CSS MENU ################################### */
/*TODO RESPONSIVE*/

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: left;
    font-size: 2.4rem;
}


.logo {
    display: block;
    width: 11rem;
    height: 11rem;
    float: left;
}

.hamburger-icon {
    display: none;
}

.hamburger-icon input[type="checkbox"] {
    appearance: none;
}

.logo-img {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain; /* Ajusta la imagen al contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el contenedor */
    background-image: url("../img/logos/logo-gold.png");
}

.logo-img:hover {
    background-image: url("../img/logos/logo-red.png");
}

menu {
    width: 60%;
    height: 100%;
    float: right;
}


.menu, .burger {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.burger {
    float: right;
    font-size: 2.4rem;
    list-style: none;
    justify-content: space-evenly;
    gap: 2.5rem;
}

.burger li {
    display: inline-block;
    margin: 0;
}

.burger li a:hover:not(.burger-menu-active a) {
    border-bottom: 3px solid var(--v-red);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.burger-menu-active a {
    border-bottom: 3px solid var(--v-gold);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

nav a {
    font-weight: bold;
    color: var(--v-gold);
}

.burger-menu-active a {
    color: var(--v-red);
}

.fa-x {
    display: none;
}


/* ##################################### CSS FOOTER ################################### */

.footer {
    color: var(--v-gold);
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    place-content: center space-between;
    flex-wrap: wrap;
}

.footer-logo-autor,
.follow,
.legal {
    display: grid;
    row-gap: 0.5rem;
    justify-items: center;
}

.follow {
    row-gap: 2rem;

}

.follow ul {
    display: flex;
    gap: 1rem;
}

.follow a, .legal a {
    color: var(--v-gold);
}

.follow a:hover, .legal a:hover {
    color: var(--v-red);
}

.legal {
}


/* ##################################### CSS IMAGEN PRINCIPAL ################################### */

#view-viana {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/viana.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; /* Alinea la imagen en la parte inferior */
    width: 100%;
    max-width: 100%;
    min-height: 65rem;
    color: white;
}

#view-viana .flex {
    /*gap: 3rem;*/
    /*    flex-direction: column;
        align-items: center;
        height: 100%;
        max-height: 90%;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5rem;*/
    gap: 5rem;
    height: 100%;
    max-height: 100%;
    display: grid;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

.slogan {
    padding-top: 1rem;
}

.slogan h1 {
    font-size: 9rem;
}

.slogan p {
    margin: 3rem 0;
    font-size: 3rem;
    font-weight: 600;
}

.slogan .btn {
    margin: 3rem 0;
}

.btn .btn-button,
.btn .btn-discover {
    color: white;
    background-color: rgba(214, 183, 111, 0.85);
    border-radius: 25rem;
    padding: 1rem 2.5rem;
    font-size: 1.8rem;
}

.btn .btn-discover:hover {
    background-color: rgba(237, 24, 70, 0.85);
}

.section-1, section-2 {
    padding: 3rem 0;
}

.section-1 {
    background-color: var(--custom-gray);
}


.card {
    padding: 2rem;
    border-radius: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.card.last {
    height: 25rem;
}

.card .image-card {
    display: block;
    width: 60rem;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    /*width: 100%;*/
    max-width: 100%;
}

.card .content {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    place-items: center;
    justify-content: space-between;

}

.card {
    align-items: center;
}

.card h2 {
    font-size: 4rem;
    /*
    margin-bottom: 2rem;
    */
}

.card p {
    font-size: 1.6rem;
}


.btn.btn-button {
    background-color: rgba(214, 183, 111, 1);

}

.btn .btn-button:hover {
    background-color: rgba(237, 24, 70, 0.85);

}

/*####################### RESPONSIVES #################################*/
@media (max-width: 600px) {
    header {
       /*padding: 0;*/
    }

    .container {
        max-width: 100%;
        width: 100%;

    }

    .card,
    .footer {
        flex-direction: column;
        height: 100%;
    }


    .logo {
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .logo-img{
        width: 80%;
        height: 80%;
    }

    .hamburger-icon {
        display: block;
    }

    nav {
        width: 100%;
    }

    nav .burger {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        height: 0;
        overflow: hidden;
        max-height: 0;
        transition: all 0.5s ease-out;
    }

    /*determining whether the header contains a checkbox input that is checked before expanding the navigation's height to 100 pixels to make it visible.*/
    .menu:has(.hamburger-icon input[type="checkbox"]:checked) nav .burger {
        margin-top: 1rem;
        height: auto;
        max-height: 30rem;
        transition: all 0.5s ease-in;
    }

    /* Hiding the bars icon on checkbox checked state */
    .menu:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
        display: none;
    }

    /* Showing the cross icon on checkbox checked state */
    .menu:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
        display: inline-flex;
    }


    #view-viana {
        height: 50rem; /* Ajusta la altura para pantallas más pequeñas */
    }

    #view-viana .slogan h1 {
        font-size: 6rem; /* Reducir tamaño de fuente en pantallas pequeñas */
    }

    #view-viana .slogan p {
        font-size: 2rem; /* Reducir tamaño de fuente en pantallas pequeñas */
    }

    .legal {
        margin-top: 1rem;
    }

    .card .content {
        gap: 2rem;
    }
}

@media (601px <= width < 992px) {

    .container {
        max-width: 100%;
        width: 100%;

    }

    .card,
    .footer {
        flex-direction: column;
    }

    .logo {
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .hamburger-icon {
        display: block;
    }

    nav {
        width: 100%;
    }

    nav .burger {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        height: 0;
        overflow: hidden;
        max-height: 0;
        transition: all 0.5s ease-out;
    }

    /*determining whether the header contains a checkbox input that is checked before expanding the navigation's height to 100 pixels to make it visible.*/
    .menu:has(.hamburger-icon input[type="checkbox"]:checked) nav .burger {
        margin-top: 1rem;
        height: auto;
        max-height: 30rem;
        transition: all 0.5s ease-in;
    }

    /* Hiding the bars icon on checkbox checked state */
    .menu:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
        display: none;
    }

    /* Showing the cross icon on checkbox checked state */
    .menu:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
        display: inline-flex;
    }

    .legal {
        margin-top: 1rem;
    }

    .card .content {
        gap: 2rem;
    }

    #view-viana .flex {
        gap: 11rem;
    }


    #view-viana .slogan h1 {
        font-size: 6rem;
    }

    #view-viana .slogan p {
        font-size: 2rem;
    }
}


@media (min-width: 992px) {
    .container {
        width: 80%;

    }

    .container.last {
        width: 50%;
    }

    .card,
    .footer {
        flex-direction: row;
        height: 100%;
    }

    .card .content {
        gap: 2rem;
    }

    #view-viana .flex {
        gap: 8rem;
    }

    #view-viana .slogan h1 {
        font-size: 7rem;
    }

    #view-viana .slogan p {
        font-size: 3rem;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 70%;
    }

    .container.last {
        width: 30%;
    }

    .card,
    .footer {
        flex-direction: row;
        height: 100%;
    }

    .card .content {
        gap: 1rem;
    }

    #view-viana .slogan h1 {
        font-size: 9rem;
    }

    #view-viana .slogan p {
        font-size: 3rem;
    }

}
